
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bg-primary: black;
        --bg-darkgray: #222222;
        --bg-lightgray: #4a4a4a;
        --bg-name: rgba(0,0,0,0.7);
        --txt-primary: white;
    }

    body {
        min-width: 900px;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--bg-primary);
        height: 60px;
    }

    main {
        overflow-y: scroll;
        background-color: var(--bg-primary);
    }

    footer {
        position: sticky;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--bg-darkgray);
        height: 100px;
    }

    .container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
    }

    .d-flex {
        display: flex;
    }

    .py-1 {
        padding: 1rem 0;
    }

/* #endregion Common */

/* #region Debug */

.debug2 {
    background-color: orange;
    height: 1000px;
}

/* #endregion Debug */

/* #region Main */

    .row {
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card-user {
        position: relative;
    }

    .card-name {
        align-items: center;
        justify-content: center;
        background-color: var(--bg-name);
        width: 100px;
        height: 20px;
        border-radius: 5px;
        font-size: 12px;
        color: var(--txt-primary);
        position: absolute;
        left: 0;
        bottom: 25px;
    }

    .name {
        padding-left: 5px;
    }

/* #endregion Main */
