
/* #region Common */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --bg-primary: black;
        --bg-darkgray: #222222;
        --bg-lightgray: #4a4a4a;
        --bg-name: rgba(0,0,0,0.7);
        --txt-primary: white;
    }

    body {
        min-width: 900px;
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--bg-primary);
        height: 60px;
    }

    main {
        overflow-y: auto;
        background-color: var(--bg-primary);
    }

    footer {
        position: sticky;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--bg-darkgray);
        height: 100;
    }

    .container {
        width: 80%;
        max-width: 1170px;
        margin: auto;
    }

    .d-flex {
        display: flex;
    }

    .py-1 {
        padding: 1rem 0;
    }

    .py-3 {
        padding: 3rem 0;
    }

    .p-rel {
        position: relative;
    }

/* #endregion Common */

/* #region Debug */

.debug2 {
    background-color: orange;
    height: 1000px;
}

/* #endregion Debug */

/* #region Header */

    header .options {
        position: absolute;
        right: 50px;
        top: 10px;
    }

    header .card {
        align-items: center;
        justify-content: center;
        background-color: var(--bg-lightgray);
        border-radius: 5px;
        font-size: 12px;
        color: var(--txt-primary);
        height: 20px;
        margin: 0 5px;
    }

    header .view {
        width: 120px;
    }

    header .full-screen {
        aspect-ratio: 1;
    }

    header span {
        margin-left: 5px;
    }
    
/* #endregion Header */

/* #region Main */

    main .m-row {
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main .card-name {
        align-items: center;
        justify-content: center;
        background-color: var(--bg-name);
        width: 100px;
        height: 20px;
        border-radius: 5px;
        font-size: 12px;
        color: var(--txt-primary);
        position: absolute;
        left: 0;
        bottom: 25px;
    }

    main .name {
        padding-left: 5px;
    }

/* #endregion Main */

/* #region Footer */

footer .f-row {
    align-items: center;
    color: var(--txt-primary);
    font-size: 12px;
}

footer .f-col {
    align-items: center;
    width: calc(100% / 12*2);
}

footer .f-col.center {
    justify-content: center;
    width: calc(100% / 12*8);
}

footer .f-col.right {
    justify-content: flex-end;
    align-items: center;
}

footer .icon-card {
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
}

footer .icon {
    font-size: 24px;
    padding-bottom: 3px;
}

footer .icon-name {
    font-size: 10px;
}

footer .end-meet {
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100px;
    background-color: var(--bg-lightgray);
    color: red;
    font-weight: bold;
}


/* #endregion Main */
